/*
CSS for PHP2 (CTEC 227) Final, Spring 2014
Training tracking management system
Team - Troy Uyan, Savanna Lord, Christine Watson

Project colors: #fff; grey #292930; green #bad2b9; grey #e8e8e8; 
light green #EAF2EA; blackish #111; medium green #D6E4D5; dk green #A7BDA6
cta #ffcc00; cta hov #f9de6b;
*/
body {
	margin:0;
	padding:0;
	color: #292930;
	background:	#fff;
	background-color: #bad2b9;
	font-family: 'Lora', serif;
}

.wrapper {
	margin:0 auto;
	padding:0;
	width:900px;
}

/* header */

header {
	background:#bad2b9;
	font-weight: 400;	
	width:100%;
	border-bottom: 6px solid #111;
}

.logo {
	margin:0.5em;
	width:132px;
	height:132px;
	float:left;
	border:none; /* for stupid IE */
}

header h1 {
	margin:1em;
	float:left;
	font-family: 'IM Fell DW Pica', serif; 
	font-size: 2.2em;
	color: #111; 
/*	text-transform:uppercase; */
	letter-spacing: 0.025em; 
}

#motto {
	float:right;
	margin: -20px 0 0 0;
	padding: 0 1em;
	font-size: 1.1em;
	font-family: 'Lora', serif;
	letter-spacing: 0.0525em;
	font-style: italic;
}

/* navigation */

.nav a { 
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.nav {
  clear: both;
  line-height: 2em;
  background:#111;
  min-height: 40px;
}

.nav ul {
  display: block;
  margin: 0;
  padding: 0;
}

.nav ul li { 
  width: 16%;
  display: inline;
  float: left;
  margin:0;
  padding: 2px 0 0 0;
  background: #111;
  border: solid #111;
  text-align: center;
  text-transform: uppercase;
}

.nav a:hover {
  background: #bad2b9;
  color:#111;
}   

.nav li:active {
  background: #111;
}

a:hover {
  color: #111;
}

a {
  color: #A7BDA6;
  text-decoration: none;
}

a:active { color: #111; }

.nav a {
  text-decoration:none;
  color: #efeeee;
}

#helpbar {
	height:3.5em;
	padding-top:0.5em;
}

.nav-small {
	font-size:0.8em;
}

.line {
	width:100%;
	height:6px;
	margin:0;
	background:#111;
}

#content {
	/* margin-bottom: 1em; */
	float:left;
	width:100%;
	background-color: #fff;

}

/* body buttons */
.helpbutton {
	padding:0.5em 1em;
	float:right;
	background:#ffcc00;
	color:#111;
	font-size:1em;
	border:2px solid #f9de6b;
	border-radius: 100%;
	text-decoration: none;
}

.helpbutton:hover {
	background:#f9de6b;
	color:#111;
}

.button {
	clear:both;
	margin: 1em 0;
	padding:1em 2em;
	background: #ffcc00;
	color: #111;
	font-family: 'IM Fell DW Pica', serif;
	font-weight:700;
	border-radius: 5px;
	border: 1px solid #f9de6b; 
	box-shadow: 1px 1px 2px #766A57;
	text-decoration:none;
	text-transform: uppercase;
}

.button:hover {
	color:#111;
	background:#f9de6b;
	border: 1px solid #f9de6b;
}

.button:active {
	background:#111;
	border:1px solid #bad2b9;
	color:#e8e8e8;
}

#fourofour img {
	display:block;
	margin:0 auto;
    width:400px;
    height:400px;
}

#fourofour h1 {
	margin:0;
	padding-left: 20px;
	font-size: 10em;
}

/* form */

fieldset {
	border:5px solid #fff;
	border-radius: 5px;
	padding:1em;
}

form {
	max-width: 95%;
	float:left;
	margin: 30px 0;
	padding:1.25em;
	border: 2px solid #bad2b9; 
	border-radius: 5px;
	background:#D6E4D5;
	font-family: 'Lora', serif;
}

/* links */
#content a:link, #content a:active, #content a:visited {
	color: #222;
}

#content a:hover {
	color: #28b41d;
}

/* form links */
form fieldset a, form fieldset a:link, form fieldset a:active, form fieldset a:visited {
	color: #000;
	text-decoration: none;
}

form fieldset a:hover {
	color: #000;
	text-decoration: underline;
}

label {
/*	padding:1em; */
	font-size:1.2em;
	float:left;
	text-align: left; 
/*	margin-right:20px; */
	min-width:115px; 
	
}

input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border:2px inset #bad2b9;
	background:#e8e8e8;
	margin: 0 0.35em 1em 0.75em;
}

select {
	padding: 0.3em 0.6em;
	background: #e8e8e8;
	border:1px solid #bad2b9;
	border-radius: 5px;
	font-family:'Lora', serif;
}

textarea {
	margin-top:2em;
	padding:0.25em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	width:100%;
	border:1px solid #bad2b9;
	border-radius:5px;
	background:#e8e8e8;
	font-family:'Lora', serif;
}
/*
textarea:focus, input:focus, select:focus {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
/*	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
/*	box-sizing: border-box;         /* Opera/IE 8+ */
/*	border: 1px solid #ffcc00;
	border-radius: 5px;
	background:#efeeee;
	font-family:'Lora', serif;
	display:block;
}

/* login page form */
#login-aside form{
	margin:0;
	padding:0.75em;
	width:222px;
	height:365px;
	background:#D6E4D5;
	border:none;
}

#login-aside fieldset{
	border:none;
	padding:0 1em;
}

#login-aside h3 {
	margin-top:0;
	padding-top:0;
}

#login-aside label {
	width:20%;
	padding:0;
	margin: 0;
	float:left;
	font-size:1.2em;
	line-height: 2em;
	display:block;
}

#login-aside input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width:90%;
	margin:0.5em 0;

}


/* table */
table {
	max-width:95%;
	border: 3px solid #bad2b9; 
	border-collapse: collapse;
	border-radius: 5px;
	font-family:'Lora', serif;
}

th {
	margin:0;
	padding: 1em 2em;
	background: #D6E4D5;
	color:#000;
	letter-spacing: 0.0625em;
	text-align:center;
	border:2px solid #bad2b9;
	border-right: 1px solid #fff; 
}

td {
	padding: 0.5em;
	border: 2px solid #bad2b9;
}

tr:nth-of-type(odd) {
  background-color:#EAF2EA;
}


/* login page image */
.building {
	float:right;
	border-radius: 5px;
	width:630px;
	height:367px;
}

#content1 {
	
	float:left;
	margin-top:2em;
	padding:0.5em;
}

/* short classes */
.clear {clear:both;}
.center {text-align: center;}
.left {float:left;}
.right {float:right;}


/* main.php menus */
.tablesection {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.33%;
  background-color: #eee;
  padding: 7px 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 2%;
  float: left;
}

.tablesection h3 {
	margin-left: 10px;
}

.sectionbutton {
	clear:both;
	margin: 5px 5px 10px;
	padding: 10px;
	background: #D6E4D5; /*#ffcc00;*/
	color: #111;
	font-family: 'IM Fell DW Pica', serif;
	font-weight:400;
	font-size: 1.2em;
	border-radius: 5px;
	border: 1px solid #A7BDA6; /*#f9de6b;*/ 
	box-shadow: 1px 1px 2px #766A57;
	text-decoration:none;
}

.sectionbutton:hover {
	color:#111;
	background:#f9de6b;
	border: 1px solid #f9de6b;
}

.sectionbutton:active {
	background:#111;
	border:1px solid #bad2b9;
	color:#e8e8e8;
}

/* admin forms */
.inputform {
	width: 50%;
}

.inputform label {
	clear: both;
	font-size:1.2em;
	float:left;
	text-align: left; 
	width:140px;
	margin-bottom: 15px;
}

.departmentform {
	width: 60%;
}

.departmentform label {
	clear: both;
	font-size:1.2em;
	float:left;
	text-align: left; 
	width:240px;
	margin-bottom: 15px;
}

.inputform input, .inputform select {
	float: right;
}

.footerclear {
padding-bottom:1em;
background-color: #fff;}

/* footer */
footer {
	padding-top: 1.5em;
	border-top: 6px solid #111;
	background:#bad2b9;
}

/* footer date/time */
#time {
	margin:-40px 0 0 0;
	padding:0 25px 20px 680px;
}

.copy {
	padding-left: 25px;
}
