/*
CSS for PHP2 (CTEC 227) Final, Spring 2014
Training tracking management system
Team - Troy Uyan, Savanna Lord, Christine Watson

Project colors: #fff; background #292930; green #bad2b9; #e8e8e8; 
light green #EAF2EA; blackish #111; medium green #D6E4D5; 
cta #ffcc00; cta hov #f9de6b;
*/
* {
  border: none;
}

body {
	margin:0;
	padding:0;
	color: #292930;
	background:	#fff;
	font-family: 'Lora', serif;
}

#wrapper {
	margin:0 auto;
	padding:0;
	width:900px;
}

/* header */

header {
	background:#bad2b9;
	font-weight: 400;	
	width:100%;
}

.logo {
	margin:0.5em;
	width:132px;
	height:132px;
	float:left;
	border:none; /* for stupid IE */
}

header h1 {
	margin:1em;
	float:left;
	font-family: 'IM Fell DW Pica', serif; 
	font-size: 2.2em;
	color: #efeeee; 
/*	text-transform:uppercase; */
	letter-spacing: 0.025em; 
}

#motto {
	float:right;
	margin: -20px 0 0 0;
	padding: 0 1em;
	font-size: 1.1em;
	font-family: 'Lora', serif;
	letter-spacing: 0.0525em;
	font-style: italic;
}

/* navigation */

.nav a { 
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.nav {
  clear: both;
  line-height: 2em;
  background:#111;
  min-height: 40px;
}

.nav ul {
  display: block;
  margin: 0;
  padding: 0;
}

.nav ul li { 
  width: 16%;
  display: inline;
  float: left;
  padding: 2px 0 0 0;
  background: #111;
  border: solid #111;
  text-align: center;
  text-transform: uppercase;
}

.nav li:hover {
  background: #bad2b9;
}   

.nav li:active {
  background: #111;
}

a:hover {
  color: #111;
}

a {
  color: #111;
  text-decoration: none;
}

a:active { color: #111; }

.nav a {
  text-decoration:none;
  color: #efeeee;
}

#helpbar {
	height:3.5em;
	padding-top:0.5em;
}



.line {
	width:100%;
	height:6px;
	margin:0;
	background:#111;
}

#content {
	margin-bottom: 1em;
	float:left;
	width:100%;

}

/* body buttons */
.helpbutton {
	margin: 0.35em 0.35em 0.35em 0.35em; 
	padding:0.5em 1em;
	float:right;
	background:#ffcc00;
	color:#111;
	font-size:1em;
	border:2px solid #f9de6b;
	border-radius: 100%;
	text-decoration: none;
}

.helpbutton:hover {
	background:#f9de6b;
}

.button {
	margin: 1em 0;
	padding:1em 2em;
	background: #ffcc00;
	color: #111;
	font-family: 'IM Fell DW Pica', serif;
	font-weight:700;
	border-radius: 5px;
	border: 1px solid #f9de6b; 
	box-shadow: 1px 1px 2px #766A57;
	text-decoration:none;
	text-transform:uppercase;
}

.button:hover {
	color:#111;
	background:#f9de6b;
	border: 1px solid #f9de6b;
}

.button:active {
	background:#111;
	border:1px solid #bad2b9;
	color:#e8e8e8;
}



/* form */


fieldset {
	border:5px solid #fff;
	border-radius: 5px;
	padding:1em;
}

form {
/*	width: 95%; */
	float:left;
	margin: 30px 0;
	padding:1.25em;
	border: 2px solid #bad2b9; 
	border-radius: 5px;
	background:#D6E4D5;
	font-family: 'Lora', serif;
}

label {
/*	padding:1em; */
	font-size:1.2em;
	line-height: 2em;
	float:right;
	text-align: right;
	margin-right:20px;
	width:100px;
	
}

input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border:2px inset;
	background:#e8e8e8;
	margin: 0 0.35em 1em 0.75em;
}

select {
	padding: 0.3em 0.6em;
	background: #e8e8e8;
	border:1px solid #bad2b9;
	border-radius: 5px;
	font-family:'Lora', serif;
}

textarea {
	margin-top:2em;
	padding:0.25em; 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	width:100%;
	border:1px solid #bad2b9;
	border-radius:5px;
	background:#e8e8e8;
	font-family:'Lora', serif;
}

textarea:focus, input:focus, select:focus {		
	border: 2px solid #ffcc00;
	border-radius: 5px;
	background:#efeeee;
	font-family:'Lora', serif;
}

/* login page form */
#login-aside form{
	margin:0;
	padding:0.75em;
	width:222px;
	height:365px;
	background:#D6E4D5;
	border:none;
}

#login-aside fieldset{
	border:none;
	padding:0 1em;
}

#login-aside h3 {
	margin-top:0;
	padding-top:0;
}

#login-aside label {
	width:20%;
	padding:0;
	margin: 0;
	float:left;
	font-size:1.2em;
	line-height: 2em;
	display:block;
}

#login-aside input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width:100%;
	margin:0.5em 0;

}



/* table */
table {
	border: 3px solid #bad2b9; 
	border-collapse: collapse;
	border-radius: 5px;
	font-family:'Lora', serif;
}

th {
	margin:0;
	padding: 1em 2em;
	background: #D6E4D5;
	color:#000;
	letter-spacing: 0.0625em;
	text-align:center;
	border:2px solid #fff;
	border-bottom: 2px solid #bad2b9; 
}

td {
	padding: 0.5em;
	border: 2px solid #bad2b9;
}

tr:nth-of-type(odd) {
  background-color:#EAF2EA;
}


/* login page image */
.building {
	float:right;
	border-radius: 5px;
	width:630px;
	height:367px;
}

#content1 {	
	float:left;
	margin-top:2em;
	padding:0.5em;
}

/* short classes */
.clear {clear:both;}
.center {text-align: center;}
.left {float:left;}
.right {float:right;}

/* footer */
footer {
	border-top: 6px solid #111;
	background:#bad2b9;
	width:900px;
}

/* footer date/time */
#time {
	margin:-40px 0 0 0;
	padding:0 25px 20px 700px;
}

.copy {
	padding-left: 25px;
}
